<% if @jobs.blank? %>
<p>There are not any jobs currently in the system.</p>
<% else %>
<p>These are the current jobs in our system</p>

<ul id = "jobs">
    <% @jobs.each do |c| %>
    <li><%= link_to c.title, {:action => 'show', :id => c.id} -%></li>
    <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Job", {:action => 'new' }%></p>